body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.one {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  background-color: blueviolet;
  transition: 1s;
  text-align: center;
}

.one:hover {
  transform: scale(50);
}